/* Webfont: Sloan */@font-face {
    font-family: 'Sloan';
    src: url('Sloan.woff2') format('woff2'), /* Modern Browsers */
         url('Sloan.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

